{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="ADALMAO" />
    <meta name="description" content="Themeforest Template Polo">
    <!-- Document title -->
    <title>WakeUp</title>
    <!-- Stylesheets & Fonts -->
    <link href="{% static 'main/css/plugins.css'%}" rel="stylesheet">
    <link href="{% static 'main/css/style.css'%}" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="{% static 'main/images/homepages/hotel/images/1.jpg'%}">
            <div class="container">
                <div>
                    <div class="text-center m-b-30">
                        <a href="index.html" class="logo">
                            <img src="{% static 'main/images/logo.png'%}" alt="Polo Logo">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 center p-50 background-white b-r-6">
                            <h3>Ingrese a su cuenta</h3>
                            {% if form.errors %}
                                <span class="help-block">{{ form.non_field_errors }}</span>
                            {% endif %}
                            <form action="." method="post"> 
                                {% csrf_token %}
                                {% for f in form %}
                                    <div class="form-group {% if f.errors %}has-error{% endif %}">
                                        <label for="id_{{ f.name }}" class="sr-only">{{ f.label|capfirst }}:</label>
                                        
                                            {{ f }}
                                            {% for error in f.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        
                                    </div>
                                {% endfor %}
                                
                                <div class="text-left form-group">
                                    <button type="submit" class="btn">Login</button>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'main/js/jquery.js'%}"></script>
    <script src="{% static 'main/js/plugins.js'%}"></script>
    <!--Template functions-->
    <script src="{% static 'main/js/functions.js'%}"></script>
</body>

</html>