{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html  style=" background-image: url({% static "main/img/bgs/10.jpg" %});">
<head>

    <title>INHOGAR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="{% static 'main/css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'main/css/bootstrap/bootstrap-overrides.css' %}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/elements.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/compiled/icons.css' %}" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/lib/font-awesome.css' %}" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static 'main/css/compiled/signin.css' %}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />



</head>
<body>




    <div class="login-wrapper" >

        <h2 style="color: white; padding-top: 5%; padding-bottom: 5%;">INHOGAR</h2>

        <div class="box">
            <div class="content-wrap">
                <h1>SU USUARIO  NO ESTA HABILITADO</h1>
                
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/theme.js' %}"></script>


    
</body>

</html>
