{% extends 'panel/nav.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/compiled/tables.css' %}"/>
    <link href="{% static 'panel/css/lib/jquery.dataTables.css' %}" type="text/css" rel="stylesheet"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href=" {% static 'panel/css/compiled/datatables.css' %}" type="text/css" media="screen"/>

{% endblock %}
{% block content %}
    <div id="pad-wrapper" class="users-list">
        
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>Pilares de WAKEUP</h3>
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'panel:pilar_new'%}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo PILAR
                        </a>
                    </div>
            </div>
            {% if message %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> {{ message }} {{ response }}
                </div>
            {% endif %}
            <table id='example'>
                <thead>
                <tr>
                    <th>Pk</th>
                    <th><span class="line"></span>Titulo</th>
                    <th><span class="line"></span>Creado</th>
                    <th><span class="line"></span>Opciones</th>
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>
                {% for s in pilars %}
                    <tr>
                        <td>{{s.pk}}</td>
                        <td>
                            {{s.title}}
                        </td>
                        <td>{{ s.created_at }}</td>
                        <td>                    
                            <ul class="actions">
                                <li><a href="{% url 'panel:pilar_edit' s.pk%}">Editar</a></li>
                                <li><a href="{% url 'panel:pilar_delete' s.pk%}">Eliminar</a></li>
                               
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'panel/js/jquery.dataTables.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').dataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
{% endblock %}