{% extends 'main/layout.html'%}
{% load static %}
{% block styles %}
<style type="text/css">
    #content-blog p{
        font-size: 20px;
    }
    @media (max-width: 1200px) {
              /* CSS that should be displayed if width is equal to or less than 800px goes here */
              #content-blog p{
                font-size: 15px !important;
                 }
                 
            }
    .comments .comment .text
    {
        padding: 0px !important;
    }

</style>

{% endblock %}
{% block content %}
<!-- Page Content -->
        <section id="page-content" class="sidebar-both">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-12 text-left">
                        <h1>{{post.title}}</h1>
                        <div style="display: flex;align-items: baseline;">
                        <span>Por: &nbsp;&nbsp;</span><h4>{{post.author.name}}</h4><span>-<i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;{{post.created_at|date:"d M, Y"}}</span>
                        </div>
                        <div class="post-item-description">
                            <div class="post-meta">
                                <div class="post-meta-share">
                                
                                    <a class="btn btn-xs btn-slide btn-facebook" href="https://facebook.com/profile.php?id=2035083673414186">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    
                                    <a class="btn btn-xs btn-slide btn-instagram" href="https://instagram.com/programaswakeup?igshid=1ij2yzhnsse2b" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-youtube" href="https://www.youtube.com/channel/UCw1xSl-optYD5qFbZZ_qQGg" data-width="118">
                                        <i class="fab fa-youtube"></i>
                                        <span>Youtube</span>
                                    </a>
                                     <a class="btn btn-xs btn-slide btn-linkedin" href="https://www.linkedin.com/company/tesiscoach" data-width="118">
                                        <i class="fab fa-linkedin"></i>
                                        <span>Linkedin</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-googleplus" href="mailto:informes@programaswakeup.com" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        
                         </div>
                     </div>
                    <!-- content -->
                </div>
                <style type="text/css">
                    .error{
                        display: none;
                    }
                </style>
                    <div class="row justify-content-md-center  ">
                        <div class="col-lg-8 post-image">
                                <img alt="" src="{{post.file_data.url}}">
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">

                                        <div id="content-blog" style="text-align: justify;font-size: 20px;">
                                            {% autoescape off %}
                                                {{ post.content|linebreaks }}
                                            {% endautoescape %}
                                        </div>


                                    </div>
                                    <!-- Comments -->
                                    <div class="comments" id="comments">
                                        <div class="comment_number">
                                            Comentarios <span>({{count_coments}})</span>
                                        </div>
                                        <div class="comment-list">
                                            {% for c in comments %}
                                            <!-- Comment -->
                                            <div class="comment" id="comment-{{c.pk}} ">
                                                <div class="text">
                                                    <h5 class="name">{{c.name}}</h5>
                                                    <span class="comment_date">{{c.updated_at}}</span>
                                                    <a class="comment-reply-link" onclick="replaycomment({{c.pk}})" href="javascript:void(0)">Responder</a>
                                                    <div class="text_holder">
                                                        <p>{{c.comment|linebreaks}}</p>
                                                    </div>
                                                </div>
                                                {% if c.childs %}
                                                {% for cs in c.childs%}
                                                <!-- Comment -->
                                                <div class="comment" id="comment-{{c.pk}}-{{cs.pk}} ">
                                                    <div class="text">
                                                        <h5 class="name">{{cs.name}}</h5>
                                                        <span class="comment_date">{{cs.updated_at}}</span>
                                                        <a class="comment-reply-link" onclick="replaycomment({{c.pk}})" href="javascript:void(0)">Responder</a>
                                                        <div class="text_holder">
                                                            <p>{{cs.comment|linebreaks}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end: Comment -->
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="respond-form-child-{{c.pk}} " id="respond" style="display: none;">
                                                <div class="respond-comment">
                                                    Deja un <span>Comentario</span></div>
                                                <form class="form-gray-fields-child-{{c.pk}}">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group name">
                                                                <label class="upper" for="name">Nombre</label>
                                                                <input class="form-control" name="name" placeholder="Ingresa tu nombre" id="name" type="text" required>
                                                                <span class="error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group email">
                                                                <label class="upper" for="email">Correo</label>
                                                                <input class="form-control" name="email" placeholder="Correo" id="email" type="email" required>
                                                                <span class="error"></span>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group comment">
                                                                <label class="upper" for="comment">Tu comentario</label>
                                                                <textarea class="form-control required" name="comment" rows="9" placeholder="Ingresa Comentario" id="comment"></textarea>
                                                                <span class="error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group text-center">
                                                                <button class="btn btn-linkedin" onclick="savechild({{c.pk}})"  type="button" id="send-child">Envia Comentario</button>
                                                                <button class="btn btn-light" id="cancel-child" type="button" onclick="cancelchild({{c.pk}})">Cancelar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- end: Comment -->
                                            {% endfor%}
                                            
                                        </div>
                                    </div>
                                    <!-- end: Comments -->
                                    
                                   
                                    <div class="respond-form" id="respond">
                                        <div class="respond-comment">
                                            Deja un <span>Comentario</span></div>
                                        <form class="form-gray-fields">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group name">
                                                        <label class="upper" for="name">Nombre</label>
                                                        <input class="form-control required" name="name" placeholder="Ingresa tu nombre" id="name" aria-required="true" type="text">
                                                         <span class="error"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group email">
                                                        <label class="upper" for="email">Correo</label>
                                                        <input class="form-control required email" name="email" placeholder="Correo" id="email" aria-required="true" type="email">
                                                         <span class="error"></span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group comment">
                                                        <label class="upper" for="comment">Tu comentario</label>
                                                        <textarea class="form-control required" name="comment" rows="9" placeholder="Ingresa Comentario" id="comment" aria-required="true"></textarea>
                                                         <span class="error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group text-center">
                                                        <button class="btn btn-linkedin" onclick="saveComment()"  type="button" id="send-child">Envia Comentario</button> 
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>
                    </div>
                </div>
                    <!-- end: content -->
                    
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
{% endblock%}
{% block scripts %}
<script type="text/javascript">
    var comment_pk=0;
    var errors=undefined;
    function replaycomment(c){
        comment_pk=c;
        $('.respond-form-child-'+comment_pk.toString()).css('display','block');

    }
    function cancelchild(c){
        $('.respond-form-child-'+c.toString()).css('display','none');
    }
    function saveComment(c){
        if (errors){
            $.each(errors,function(i,v){
                    var obj=$('.form-gray-fields .'+i+' span');
                    obj.text(v);
                    obj.css("display","none");
                    obj.css("color","red");

                    var objlabel=$('.form-gray-fields .'+i+' label');
                    var objinput=$('.form-gray-fields #'+i);
                    objlabel.css("color","#777777");
                    objinput.css("border-color","#777777");
                });
        }
        var loginForm = $('.form-gray-fields').serializeArray();
        var loginFormObject = {};
        $.each(loginForm,
            function(i, v) {
                loginFormObject[v.name] = v.value;
            });
        $.ajax({
                   type: "POST",
                   url: "",
                   data: {"form":JSON.stringify(loginFormObject),"child":false},
                   success: function(response) {
                        alert("Gracias por dejar Comentario");
                        var url_ticket='/post/detail/'+response.post;
                        window.location=url_ticket;
                   
                   },
                   error:function(data){
                    
                        try {
                            var error=data.responseJSON.error;
                            errors=data.responseJSON.errors;
                            $.each(errors,function(i,v){
                                var obj=$('.form-gray-fields .'+i+' span');
                                obj.text(v);
                                obj.css("display","block");
                                obj.css("color","red");

                                var objlabel=$('.form-gray-fields .'+i+' label');
                                var objinput=$('.form-gray-fields #'+i);
                                objlabel.css("color","red");
                                objinput.css("border-color","red");
                            });
                           }
                       catch(err){

                       }
                   }
                });
    }
    
    function savechild(c){
        if (errors){
            $.each(errors,function(i,v){
                    var obj=$('.form-gray-fields-child-'+c.toString()+' .'+i+' span');
                    obj.text(v);
                    obj.css("display","none");
                    obj.css("color","red");

                    var objlabel=$('.form-gray-fields-child-'+c.toString()+' .'+i+' label');
                    var objinput=$('.form-gray-fields-child-'+c.toString()+' #'+i);
                    objlabel.css("color","#777777");
                    objinput.css("border-color","#777777");
                });
        }
        var loginForm = $('.form-gray-fields-child-'+c.toString()).serializeArray();
        var loginFormObject = {};
        $.each(loginForm,
            function(i, v) {
                loginFormObject[v.name] = v.value;
            });
        $.ajax({
                   type: "POST",
                   url: "",
                   data: {"form":JSON.stringify(loginFormObject),"child":true,"comment":c},
                   success: function(response) {
                        alert("Gracias por dejar Comentario");
                        var url_ticket='/post/detail/'+response.post;
                        window.location=url_ticket;
                   
                   },
                   error:function(data){
                    
                        try {
                            var error=data.responseJSON.error;
                            errors=data.responseJSON.errors;
                            $.each(errors,function(i,v){
                                var obj=$('.form-gray-fields-child-'+c.toString()+' .'+i+' span');
                                obj.text(v);
                                obj.css("display","block");
                                obj.css("color","red");

                                var objlabel=$('.form-gray-fields-child-'+c.toString()+' .'+i+' label');
                                var objinput=$('.form-gray-fields-child-'+c.toString()+' #'+i);
                                objlabel.css("color","red");
                                objinput.css("border-color","red");
                            });
                           }
                       catch(err){

                       }
                   }
                });
    }
    
</script>
{% endblock %}