{% extends 'panel/nav.html' %}

{% load static %}
{% load i18n %}
{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="row header">
        <h3>{{ title|safe|capfirst }}</h3>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-9 with-sidebar">
        	{% if msg%}
                <div class="alert alert-success">
                    <i class="icon-ok-sign"></i> {{msg}}
                </div>
            {%endif%}
        	{% if message %}
    		<div class="alert alert-danger">
                <i class="icon-remove-sign"></i>
                {{message}}
            </div>
            {% endif %}
            <form action="{{ action|default:'.' }}" method="post" class="form-horizontal" enctype="multipart/form-data">
			    {% csrf_token %}
			    {% for f in form %}
			        <div class="form-group {% if f.errors %}has-error{% endif %}">
			            <label for="id_{{ f.name }}" class="col-sm-2 control-label">{{ f.label|capfirst }}:</label>
			            <div class="col-sm-10">
			                {{ f }}
			                {% for error in f.errors %}
			                    <p class="help-block">{{ error }}</p>
			                {% endfor %}
			            </div>
			        </div>
			    {% endfor %}
			{% if not only_view %}
		        <div class="pull-right">
		            <input type="submit" class="btn btn-primary pull-right" value="{{  save_text|default:'Guardar' }}" name="_save">
		        </div>
		    {% else %}
		        <div class="pull-right">
		            <input type="button"  onclick="javascript:history.back()" class="btn btn-primary pull-right" value="{{  save_text|default:'Regresar' }}" name="_save">
		        </div>
		    {% endif %}
   
			</form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
	
 </script>
{% endblock %}