<!DOCTYPE html>
{% load static %}
<html>
<head>
	
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo">
    <!-- Document title -->
	<title>WAKE UP</title>
    <!-- Stylesheets & Fonts -->
    <link href="{% static 'main/css/plugins.css'%}" rel="stylesheet">
    <link href="{% static 'main/css/style.css'%}" rel="stylesheet">

    <!-- Template color -->
    <link href="{% static 'main/css/theme.css'%}" rel="stylesheet" type="text/css" media="screen">
     <style type="text/css">
         .header-wakeup{
            background-color: white !important;
         }
         /* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(https://wakeup-dev.s3.amazonaws.com/static/main/images/cargando.gif) center no-repeat #fff;
            background-size: 30%;
        }
     </style>
    <!-- CSS HOTEL STYLE -->
    {% block styles %}
    {% endblock%}
     <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body  >
    <div class="se-pre-con"></div>
	<div class="" >

       
        <!-- Header -->
        <header id="header" data-responsive-fixed="true" >
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo"> 
                        <a href="{% url 'main:home'%}">
                            <img class="logo-default" src="{% static 'main/images/logo.png'%}" >
                            <img class="logo-dark" src="{% static 'main/images/logo.png'%}" >
                        </a>
                    </div>
                    <!--End: Logo-->
                   
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x">
                            <span class="lines">
                                
                            </span>
                        </a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown "><a onclick="showDiv()" href="{%url 'main:home'%}#services">SERVICIOS</a>
                                        <ul class="dropdown-menu">
                                            {% for s in services %}
                                            <li class=""><a href="{% url 'main:service_detail' s.pk%}">{{s.name}}</a>
                                                
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    
                                    <li class=""><a href="{%url 'main:home'%}#us">NOSOTROS</a>
                                        
                                    </li>
                                    <li class=" mega-menu-item"><a href="{%url 'main:home'%}#blog">BLOG</a>
                                        
                                    </li>
                                    <li class=""><a href="{% url 'main:contact' %}">CONTACTO</a>
                                        
                                    </li>
                                    <li>
                                        <a href="{{intranet}}" target="_blank" class="btn btn-linkedin  ">Iniciar Sesión</a>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        {% block content %}
        {% endblock %}
        <style type="text/css">
            .footer-wakeup{
                background-image: url('https://wakeup-dev.s3.amazonaws.com/static/main/images/FOOTER.png'); 
                background-size: 100% 100%;
            }
            @media (max-width: 1200px) {
              /* CSS that should be displayed if width is equal to or less than 800px goes here */
              .footer-wakeup{
                background-color: #317bb6;
                background-image: none;
                 }
            }
            .child {
  position:relative;
    max-width:100%;
    max-height:100%;
    
    
}
            
        </style>
    <ul class="ul-share">
        <li class="li-share">
            <a href="tel:+51967280345">
                <i class="icon-phone my-float"></i>
            </a>
        </li>
        <li class="li-share">
            <a  style="background-color: #06d755 !important;" target="_blank" href="https://wa.me/51967280345">
                <i class="fab fa-whatsapp my-float"></i>
            </a>
        </li>
    </ul><!--
    #007bb6 !important
    whatsapp #06d755-->
<style type="text/css">
    .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:80px;
    right:20px;
    background-color:#007bb6;
    color:white;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:1000;
    animation: bot-to-top 2s ease-out;
}

.ul-share{
    position:fixed;
    right:20px;
    bottom:60px;
    z-index:100;
}

.ul-share .li-share{
    list-style:none;
    margin-bottom:10px;
}

.ul-share .li-share a{
    background-color:#317bb6;
    color:white;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px white;
    width:60px;
    height:60px;
    display:block;
}




.my-float{
    font-size:24px;
    margin-top:18px;
}

a#scrollTop + .ul-share{
  visibility: visible;
  opacity:1!important;
    color:white;
}
}

a#scrollTop:hover + .ul-share{
  visibility: visible;
  animation: scale-in 0.5s;
  color:white;
}

a#scrollTop i{
    animation: rotate-in 0.5s;
    color:white;
}

a#scrollTop:hover > i{
    animation: rotate-out 0.5s;
    color:white;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
</style>
        <footer id="footer" class="inverted" >
            
            <div class="footer-content footer-wakeup">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="child" src="https://wakeup-dev.s3.amazonaws.com/static/main/images/logo_blanco.png"  >
                        </div>

                    </div>
                    <div class="row">
                            
                        <div class="col-md-3">
                            <div class="icon-box effect small clean text-light">
                                <div class="icon">
                                    <a href="#"><i class="icon-clock"></i></a>
                                </div>
                                <h3>Horarios Atención</h3>
                                <p><strong>Lunes - Viernes</strong>
                                    <br>09:00 AM - 01:00 PM
                                    <br>04:00 PM - 08:00 PM</p>
                                <p><strong>Sábados</strong>
                                    <br>09:00 AM - 01:00 PM</p>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="icon-box effect small clean text-light">
                                <div class="icon">
                                    <a href="#"><i class="icon-phone"></i></a>
                                </div>
                                <h3>Contacto</h3>
                                <p><strong>Celular:</strong>
                                    <br> 967-280-345
                                    <br>
                                </p>
                                <style type="text/css">
                                    @media (max-width: 400px) {
                                      /* CSS that should be displayed if width is equal to or less than 800px goes here */
                                      .mail-wakeup{
                                        font-size: 12px !important;
                                        }
                                        

                                    }
                                </style>
                                <p  class="mail-wakeup" style="max-width: 100%;"><strong>Correo:</strong>
                                    <br> informes@programaswakeup.com
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="icon-box effect small clean text-light">
                                        <div class="icon">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                        </div>
                                        <h3>Ubicación</h3>
                                        <p><strong>Dirección:</strong>
                                            <br> Av. Lima 118, Yanahuara
                                            <br> Arequipa, Perú
                                            <br>(por la comisaría de Yanahuara)
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.919451758973!2d-71.54370032105206!3d-16.39036718622903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a438e55b28d%3A0x6f69b1a72b1e1414!2sWake%20Up%20Consulting!5e0!3m2!1ses!2spe!4v1578693403308!5m2!1ses!2spe" width="600"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Social icons -->
                            <div class="social-icons social-icons-colored float-left">
                                <ul>
                                    <li class="social-facebook"><a href="https://facebook.com/profile.php?id=2035083673414186"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-instagram"><a href="https://instagram.com/programaswakeup?igshid=1ij2yzhnsse2b"><i class="fab fa-instagram"></i></a></li>
                                    <li class="social-linkedin"><a href="https://www.linkedin.com/company/tesiscoach"><i class="fab fa-linkedin"></i></a></li>
                                    <li class="social-youtube"><a href="https://www.youtube.com/channel/UCw1xSl-optYD5qFbZZ_qQGg"><i class="fab fa-youtube"></i></a></li>
                                    
                                </ul>
                            </div>
                            <!-- end: Social icons -->
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright-text text-center">&copy; 2019 WakeUp - Todos los derechos reservados. </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'main/js/jquery.js'%}"></script>
    <script src="{% static 'main/js/plugins.js'%}"></script>

    <!--Template functions-->
    <script src="{% static 'main/js/functions.js'%}"></script>
    <!--Pageloader plugin files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript">
        
    //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function() {
            // Animate loader off screen
                
    // Code to be executed after timeout goes here
                $(".se-pre-con").fadeOut("slow");;
        });

        function showDiv() {
            if($('#services').length ==0){
                   window.location.href="{% url 'main:home'%}#services";

            }
             else{  $('html, body').animate({
                 scrollTop: $("#services").offset().top
                 }, 2000);
            }


            //Do stuff when clicked
        }
        
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>