{% extends 'panel/nav.html' %}
{% load static %}
{% block styles %}
<style type="text/css">
 .other-info span{
    font-size: 20px;
    margin-bottom: 5%;
 }
    
</style>
{% endblock%}
{% block content %}
 <!-- upper main stats -->
<div id="main-stats">
	<div class="row">
		
		<div class="pull-right" style="margin-top: 2%;margin-right: 5%;">
			<a href="{% url 'panel:configuration_stats'%}" class="btn-flat default icon-pencil
" style="width: 200px;text-align: center;font-size: 20px;"> Editar</a>
		</div>
	</div>
    <div class="row stats-row">
    	<h2>NUMEROS</h2>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
            
                <span class="number">{{configuration.cases_success}}</span>
                Casos de Exito
            </div>
        </div>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">{{configuration.actual_clients}}</span>
                Clientes Actuales
            </div>
        </div>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">{{configuration.post_spain}}</span>
                Programas de Posgrado en España
            </div>
        </div>
        <div class="col-md-3 col-sm-3 stat last">
            <div class="data">
                <span class="number">{{configuration.aprovedd_tesis}} %</span>
                Tesis Aprobadas
            </div>
        </div>
    </div>
    <div class="row stats-row other-info">
        <h2>PRIMER SLIDER</h2>
        <span><b>Titulo de formulario: </b> {{ configuration.form_title }}</span><br>
        <span><b>Titulo Primer Slider: </b> {{ configuration.title_first }}</span><br>
        <span><b>Subtitulo Primer Slider: </b> {{ configuration.subtitle_first }}</span><br>
        <span><b>Multimedia del Primer Slider: </b> <a href="{{ configuration.first_slider.url }}">{{ configuration.first_slider }}</a></span><br>
        <h2>NOSOTROS</h2>
        <span><b>Mision</b><br>
            {{configuration.mision|linebreaks}}
        </span>
        <span><b>Vision</b><br>
            {{configuration.vision|linebreaks}}
        </span>
        <h2>OTRAS CONFIGURACIONES</h2>
        <span><b>Mostrar staff: </b> 
            {% if configuration.show_staff %}
                mostrar
            {% else %}
               no mostrar
            {% endif %}
        </span><br>
        <span><b>Contacto contenido</b><br>
            {{configuration.contact_content|linebreaks}}
        </span>
    </div>
</div>

{% endblock %}