{% extends 'panel/layout.html' %}
{% load static %}
{% block sidebar %}
<div id="sidebar-nav">
    <ul id="dashboard-menu">
		<li>
			<a href="{% url 'panel:team_list'%}">
			    <i class="icon-user"></i>
			    <span>Equipo</span>
			</a>
		</li>
		<li>
			<a href="{% url 'panel:slider_list'%}">
			    <i class="icon-film"></i>
			    <span>Sliders</span>
			</a>
		</li>
		<li>
			<a href="{% url 'panel:service_list'%}">
			    <i class="icon-group"></i>
			    <span>Servicios</span>
			</a>
		</li>
		<li>
			<a href="{% url 'panel:pilar_list'%}">
			    <i class="icon-pushpin"></i>
			    <span>Pilares</span>
			</a>
		</li>
    	<li>
			<a href="{% url 'panel:option_list'%}">
			    <i class="icon-tasks"></i>
			    <span>Opcion para elegirno</span>
			</a>
		</li>
		<li>
			<a href="{% url 'panel:testimony_list'%}">
			    <i class="icon-quote-left"></i>
			    <span>Testimonios</span>
			</a>
		</li>
    	<li>
			<a href="{% url 'panel:post_list'%}">
			    <i class="icon-print"></i>
			    <span>Blog</span>
			</a>
		</li>
    	
	</ul>
</div>

{% endblock %}
