{% extends 'panel/nav.html' %}

{% load static %}
{% load i18n %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'panel/css/compiled/tables.css' %}"/>
    <link href="{% static 'panel/css/lib/jquery.dataTables.css' %}" type="text/css" rel="stylesheet"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href=" {% static 'panel/css/compiled/datatables.css' %}" type="text/css" media="screen"/>
{% endblock %}
{% block content %}
<div id="pad-wrapper" class="new-user">
    <div class="row header">
        <h3>{{ title|safe|capfirst }}</h3>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-9 with-sidebar">
        	{% if msg%}
                <div class="alert alert-success">
                    <i class="icon-ok-sign"></i> {{msg}}
                </div>
            {%endif%}
        	{% if message %}
    		<div class="alert alert-danger">
                <i class="icon-remove-sign"></i>
                {{message}}
            </div>
            {% endif %}
            <form action="{{ action|default:'.' }}" method="post" class="form-horizontal" enctype="multipart/form-data">
			    {% csrf_token %}
			    {% for f in form %}
			        <div class="form-group {% if f.errors %}has-error{% endif %}">
			            <label for="id_{{ f.name }}" class="col-sm-2 control-label">{{ f.label|capfirst }}:</label>
			            <div class="col-sm-10">
			                {{ f }}
			                {% for error in f.errors %}
			                    <p class="help-block">{{ error }}</p>
			                {% endfor %}
			            </div>
			        </div>
			    {% endfor %}
			{% if not only_view %}
		        <div class="pull-right">
		            <input type="submit" class="btn btn-primary pull-right" value="{{  save_text|default:'Guardar' }}" name="_save">
		        </div>
		    {% else %}
		        <div class="pull-right">
		            <input type="button"  onclick="javascript:history.back()" class="btn btn-primary pull-right" value="{{  save_text|default:'Regresar' }}" name="_save">
		        </div>
		    {% endif %}
   
			</form>
        </div>
    </div>
</div>
{% if show_table %}
<div id="pad-wrapper" class="users-list">
        
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>Objetivos</h3>
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'panel:objetive_new' course.pk %}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo Objetvio
                        </a>
                    </div>
            </div>
            {% if message %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> {{ message }} {{ response }}
                </div>
            {% endif %}
            <table id='example'>
                <thead>
                <tr>
                    <th>Objetivo</th>
                    <th><span class="line"></span>Creado</th>
                    <th><span class="line"></span>Opciones</th>
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>
                {% for s in objetives %}
                    <tr>
                        <td>{{s.objetive}}</td>
                        
                        <td>{{ s.created_at }}</td>
                        <td>                    
                            <ul class="actions">
                                <li><a href="{% url 'panel:objetive_edit' course.pk s.pk%}">Editar</a></li>
                                <li><a href="{% url 'panel:objetive_delete' course.pk s.pk%}">Eliminar</a></li>
                               
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
	<script src="{% static 'panel/js/jquery.dataTables.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').dataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
{% endblock %}